:root {
	--bg-color: #023047;
	--row-color-one: #8ecae6;
	--row-color-two: #219ebc;
	--letter-color: #ffb703;
	--help-color: #fb8500;
}

.App {
	min-height: 100dvh;
	background-color: var(--bg-color);
	color: var(--letter-color);
}
